import { Injectable } from '@angular/core';
import { HttpClient } from '@angular/common/http';
@Injectable({
  providedIn: 'root'
})
export class TranslatorService {
  constructor(private http: HttpClient) {}
  translateFile(file: File) {
    const formData = new FormData();
    formData.append('file', file);
    return this.http.post<any>('http://localhost:3000/translate', formData);
  }
}